@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --greyish-blue: hsl(233, 8%, 79%);
  --dark-greyish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

body {
  min-height: 100dvh;
  position: relative;
}

.container {
  display: grid;
  padding: 0% 5%;
  gap: 1em;
  background: var(--off-white);
  padding-bottom: 10%;
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0%;
}

.navbar-overlay {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  background: var(--off-white);
  display: none;
  z-index: 9;
}

.hamburger-holder {
  z-index: 10;
}

.blur-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--very-dark-blue);
  opacity: 0.5;
  z-index: 8;
  display: none;
}

.navigation-links-mobile {
  display: grid;
  gap: 1em;
  padding-top: 60%;
  padding-left: 10%;
  font-size: min(6dvw, 6dvh);
}

.navigation-links-mobile a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: 700;
}

.wrapper {
  display: grid;
  gap: 1em;
  font-size: min(5dvw, 5dvh);
  color: var(--very-dark-blue);
}

.main-heading h1 {
  line-height: 1.2em;
  font-weight: 800;
}

.main-detail {
  display: grid;
  gap: 1em;
  font-size: 80%;
}

.main-detail p {
  color: var(--dark-greyish-blue);
}

.main-detail button {
  width: 50%;
  background: var(--soft-red);
  color: var(--off-white);
  border: none;
  padding: 0.6em;
  letter-spacing: 0.2em;
  font-size: 90%;
}

.hero-image-holder img {
  width: 100%;
}

.side-section {
  background: var(--very-dark-blue);
  padding: 2% 5%;
  display: grid;
  gap: 1em;
}

.line {
  margin: 5% 0%;
  width: 100%;
  height: 1px;
  background: var(--greyish-blue);
}

.side-section h1 {
  color: var(--soft-orange);
}

.side-section-item h4 {
  color: var(--off-white);
}

.side-section-item p {
  color: var(--greyish-blue);
  font-size: 70%;
  padding-top: 2%;
}

.side-section-item:last-child {
  padding-bottom: 10%;
}

.footer-section {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 1em;
}

.footer-image-holder {
  display: grid;
  align-content: center;
}

.footer-image-holder img {
  width: 100%;
}

.footer-section .contents {
  display: grid;
}

.footer-section h3 {
  color: var(--greyish-blue);
}

.footer-section h5 {
  color: var(--very-dark-blue);
  font-weight: 800;
}

.footer-section p {
  font-size: 70%;
  color: var(--dark-greyish-blue);
}

@media (width >= 35em) and (height <= 27em) and (orientation: landscape) {
  .container {
    padding-bottom: 5%;
  }

  .navigation-links-mobile {
    padding-top: 10%;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-image-holder {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .hero-image-holder img {
    height: 100%;
  }

  .side-section {
    grid-column: 2 / 3;
    grid-row: 3 / 6;
  }
}

@media (width >= 44.5em) and (orientation: portrait) {
  .wrapper {
    font-size: min(4dvw, 4dvh);
  }
}

@media (width >= 62em) and (height <= 64em) and (orientation: landscape) {
  .container {
    padding-bottom: 5%;
  }
  
  .navigation-links-mobile {
    padding-top: 10%;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    font-size: min(3.5dvw, 3.5dvh);
  }

  .hero-image-holder {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .hero-image-holder img {
    height: 100%;
  }

  .side-section {
    grid-column: 2 / 3;
    grid-row: 3 / 6;
    gap: 0.5em;
  }

  .side-section-item:last-child {
    padding-bottom: 5%;
  }
}

@media (width >= 75em) {

  .container {
    padding-bottom: 2%;
  }

  .navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;
  }

  .navigation-links-desktop {
    display: flex;
    gap: 3em;
    font-size: min(2.5dvw, 2.5dvh);
  }

  .navigation-links-desktop a {
    text-decoration: none;
    color: var(--dark-greyish-blue);
  }

  .wrapper {
    font-size: min(3dvw, 3dvh);
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }

  .desktop-hero-image-holder {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .desktop-hero-image-holder img {
    width: 100%;
  }

  .side-section {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    gap: 0em;
  }

  .side-section-item:last-child {
    padding-bottom: 5%;
  }

  .main-heading h1 {
    font-size: 250%;
  }

  .navigation-links-desktop a:hover {
    color: var(--soft-red);
  }

  .side-section-item h4:hover {
    color: var(--soft-orange);
    cursor: pointer;
  }

  .main-detail button:hover {
    background: var(--very-dark-blue);
    cursor: pointer;
  }

  .footer-section h5:hover {
    color: var(--soft-red);
    cursor: pointer;
  }
}

@media (width >= 156.25em) {
  .logo-holder-desktop img {
    transform: scale(2);
  }
}